//Colors
$color-primary:#6E57E0;
$color-secondary-main:#191627;
$color-secondary-light:#3F3A53;
$color-body-text:#F2F1F3;
$color-animated-circles:#151220;
$color-section-title:#6E57E0;
$color-sub-body:#BCBAB4;
$color-accent-light:#FFD70B;
$secondary-light:#f8d006;
$color-accent-dark:#e7cc30;

//Font Family
$font-main:'Raleway',sans-serif;
$font-body:'Open-Sans',sans-serif;

//Screen Sizes
$xxl-screen: 1400px;
$xl-screen: 1200px;
$lg-screen: 1024px;
$md-screen: 767px;
$standard-sm:567px;
$google-pixel:411px;
$sm-screen: 360px;
$xs-screen: 320px;

//Font Sizes
$xs: 0.75rem;
$s: 1rem;
$m: 1.5rem;
$l: 2.2rem;
$xl: 3.375rem;

// Transitions
$fast: 0.25s;
$medium: 0.5s;
$slow: 1s;
